*
{
	margin: 0;
	padding: 0;
}

body
{
   background-image:url(images/fond.jpg);
   margin:0 auto;
}

p 
{ 
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
}

.topnav
{
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin: auto;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	display: flex;
    flex-direction: row;
}

@media (max-width:600px) { /* Le media permet de changer la disposition du menu pour s'adapter au écran de téléphone */
    .topnav {
      flex-direction: column; 
	  }
}

@media (max-width:1400px) { /* Le media permet de faire disparaitre les bords qui deviennent genants au dessous de 1400 px  */
	 .divtopgauche{
		 display: none;
	 }
	 .divbasgauche{
		 display: none;
	 }
	 .divdecogauche{
		 display: none;
	 }
	 .divtopdroite{
		 display: none;
	 }
	 .divbasdroite{
		 display: none;
	 }
	 .divdecodroite{
		 display: none;
	 }
 }

.topnav a
{
	float: left;
	display: block;
	height: 70px;
	width:240px;
	color: #038893;
	font-family: Cursive;
	text-align: center;
	text-decoration: none;
	vertical-align: center;
	line-height:70px;
}

.topnav a:hover
{
	background-color: #ADD8E6;
}

.logotop {
	background-image:url(images/siterobotlogo.png); 
}

.logotop:hover {
	background-image: url("images/siterobotlogo2.png");
}

.block1
{
	max-width:1400px;
	margin: auto;
	margin-top: 4%;
	position:relative;
}

.divtopgauche
{
	height : 125px;
    width: 100px;  
	position:absolute;
	background: radial-gradient(circle at top left, transparent 80px, #CFCFCF 60px); /* On utilise un cercle pour faire un inner radius au carre */
	opacity: 0.88;
}

.divbasgauche
{
	height : 125px;
	margin-top: 225px;
    width: 100px;  
	position:absolute;
	background: radial-gradient(circle at bottom left, transparent 80px, #CFCFCF 60px);
	opacity: 0.88;
}

.divdecogauche
{
	height : 100px;
    width: 100px;  
	background-color: #CFCFCF;
	margin-top: 125px;
	position:absolute;
	opacity: 0.88;
}

.divtopdroite
{
	height : 125px;
    width: 100px;  
	right: 0;
	background: radial-gradient(circle at top right, transparent 80px, #CFCFCF 60px);
	position: absolute;
	opacity: 0.88;
}

.divbasdroite
{
	height : 125px;
	margin-top: 225px;
    width: 100px;  
	right: 0;
	background: radial-gradient(circle at bottom right, transparent 80px, #CFCFCF 60px);
	position: absolute;
	opacity: 0.88;
}

.divdecodroite
{
	height : 100px;
    width: 100px;  
	background-color: #CFCFCF;
	margin-top: 125px;
	right: 0;
	position: absolute;
	opacity: 0.88;
}

.presentation
{
	max-width :1200px;
	background-color: #CFCFCF;
	height:350px;
	margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
	opacity: 0.88;
}

#texte
{
	max-width:800px;
	height:auto;
	margin-right: auto;
	margin-left: auto;
}

#titre
{
	font-size:30px;
	padding-top: 2%;
}

#soustitre
{
	font-size:24px;
	line-height:0px;
}

#dvideo
{
	height:400px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
}

.video
{
	width:100%;
	height:100%;
}

#sources{
	margin-right:auto;
	margin-left: auto;
	width: 200px;
	margin-top:1%;
	color: white;
}
            
.bas 
{
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	position: relative;
}

#imgiut 
{
	max-height: 100px;
	float: right;
}

.facebook{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.facebooklogo {
	width: 40px;
	height: 40px;
	background-image:url(images/facebook40px.png); 
	display: inline-block;
}

.facebooklogo:hover {
	background-image: url("images/facebook40pxgris.png");
}

.instagram{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.instagramlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/instagram40px.png); 
	display: inline-block;
}

.instagramlogo:hover {
	background-image: url("images/instagram40pxgris.png");
}

.twitter{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.twitterlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/twitter40px.png); 
	display: inline-block;
}

.twitterlogo:hover {
	background-image: url("images/twitter40pxgris.png");
}

.linkin{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.linkinlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/linkin40px.png); 
	display: inline-block;
}

.linkinlogo:hover {
	background-image: url("images/linkin40pxgris.png");
}

.petittrait{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	height: 40px;
	width: 0px;
	margin-left: 6%;
	display:inline-block;
}

.cg
{
	max-width:15%;
	padding-top: 2%;
	padding-left: 6%;
	display:inline-block;
}

.cglogo 
{
	width: 37px;
	height: 37px;
	background-image:url(images/cg40px.png);
	display: inline-block;
}

.cglogo:hover 
{
	background-image: url("images/cg40pxgris.png");
}

.auteurs {
	height : 20%;
	bottom: 0px;
	left: 10px;
	position: absolute;
}