*
{
	margin: 0;
	padding: 0;
}

body
{
   background-image:url(images/fond.jpg);
   margin:0 auto;
}

.topnav
{
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin: auto;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	display: flex;
    flex-direction: row;
}

@media (max-width:600px) {
    .topnav {
      flex-direction: column; 
	  }
}

.topnav a
{
	float: left;
	display: block;
	height: 70px;
	width:240px;
	color: #038893;
	font-family: Cursive;
	text-align: center;
	text-decoration: none;
	vertical-align: center;
	line-height:70px;
}

.topnav a:hover
{
	background-color: #ADD8E6;
}

.logotop {
	background-image:url(images/siterobotlogo.png); 
}

.logotop:hover {
	background-image: url("images/siterobotlogo2.png");
}

.tab {
    border: solid 1px black
}

#a1{
	color:white;
}

.card {
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;  
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;   
}

#bluePart {
    position: absolute;
    right: 0;
    margin-left: 0%;
    margin-right: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border : solid 1px black;
    background-color: white; 
    background-image:url(images/article1.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bluePart2 {
    position: absolute;
    right: 0;
    margin-left: 0%;
    margin-right: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border : solid 1px black;
    background-color: white; 
    background-image:url(images/article2.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bluePart3 {
    position: absolute;
    right: 0;
    margin-left: 0%;
    margin-right: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border : solid 1px black;
    background-color: white; 
    background-image:url(images/article3.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bluePart4 {
    position: absolute;
    right: 0;
    margin-left: 0%;
    margin-right: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border : solid 1px black;
    background-color: white; 
    background-image:url(images/article4.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.square {
    border: solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100% ;
    overflow: hidden;
    
}
.greenPart {
    background-color: #CFCFCF;
    height: 90%;
	opacity: 0.88;
}
.greenPartTitle {
    margin-top: 2%;
    margin-left: 45px;
	width: 75%;
}
.greenPartDesc {
    margin-top: 2%;
    margin-left: 5px;
	width: 75%;
}
.purplePart {
    background-color: #038893;
    height: 10%;
	opacity: 0.88;
}

.bas 
{
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	position: relative;
}

#imgiut 
{
	max-height: 100px;
	float: right;
}

.facebook{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.facebooklogo {
	width: 40px;
	height: 40px;
	background-image:url(images/facebook40px.png); 
	display: inline-block;
}

.facebooklogo:hover {
	background-image: url("images/facebook40pxgris.png");
}

.instagram{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.instagramlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/instagram40px.png); 
	display: inline-block;
}

.instagramlogo:hover {
	background-image: url("images/instagram40pxgris.png");
}

.twitter{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.twitterlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/twitter40px.png); 
	display: inline-block;
}

.twitterlogo:hover {
	background-image: url("images/twitter40pxgris.png");
}

.linkin{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.linkinlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/linkin40px.png); 
	display: inline-block;
}

.linkinlogo:hover {
	background-image: url("images/linkin40pxgris.png");
}

.petittrait{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	height: 40px;
	width: 0px;
	margin-left: 6%;
	display:inline-block;
}

.cg
{
	max-width:15%;
	padding-top: 2%;
	padding-left: 6%;
	display:inline-block;
}

.cglogo 
{
	width: 37px;
	height: 37px;
	background-image:url(images/cg40px.png);
	display: inline-block;
}

.cglogo:hover 
{
	background-image: url("images/cg40pxgris.png");
}

.auteurs {
	height : 20%;
	bottom: 0px;
	left: 10px;
	position: absolute;
}