*{
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	background-image:url(images/fond.jpg); 
}

p {
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}

img{
	margin-right: auto;
	margin-left: auto;
	display: block;
}

table{
	border-collapse: collapse;	
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4%;
	width: 80%;
}

th{
	background-color: green;
	color: white;
}

td{
	border: 1px solid;
	position: relative;
	padding: 10px 3px;
	border-spacing: 0;
	width:200px;
	height: 120px;
	text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#logopluspetit{
	width: 80%;
}

#logopluspetit2{
	width: 35%;
}

.p1 {
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 2px;
}

.topnav
{
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin: auto;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	display: flex;
    flex-direction: row;
}

@media (max-width:600px) {
    .topnav {
      flex-direction: column; 
	  }
}

.topnav a {
  float: left;
  display: block;
  height: 70px;
  width:240px;
  color: #038893;
  font-family: Cursive;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  line-height:70px;
}

.topnav a:hover {
  background-color: #ADD8E6;
}

.logotop {
	background-image:url(images/siterobotlogo.png); 
}

.logotop:hover {
	background-image: url("images/siterobotlogo2.png");
}

.bas {
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
    position: relative;
}

#imgiut {
	max-height: 100px;
	float: right;
}

.facebook{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.facebooklogo {
	width: 40px;
	height: 40px;
	background-image:url(images/facebook40px.png); 
	display: inline-block;
}

.facebooklogo:hover {
	background-image: url("images/facebook40pxgris.png");
}

.instagram{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.instagramlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/instagram40px.png); 
	display: inline-block;
}

.instagramlogo:hover {
	background-image: url("images/instagram40pxgris.png");
}

.twitter{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.twitterlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/twitter40px.png); 
	display: inline-block;
}

.twitterlogo:hover {
	background-image: url("images/twitter40pxgris.png");
}

.linkin{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.linkinlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/linkin40px.png); 
	display: inline-block;
}

.linkinlogo:hover {
	background-image: url("images/linkin40pxgris.png");
}

.petittrait{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	height: 40px;
	width: 0px;
	margin-left: 6%;
	display:inline-block;
}

.cg
{
	max-width:15%;
	padding-top: 2%;
	padding-left: 6%;
	display:inline-block;
}

.cglogo 
{
	width: 37px;
	height: 37px;
	background-image:url(images/cg40px.png);
	display: inline-block;
}

.cglogo:hover 
{
	background-image: url("images/cg40pxgris.png");
}

.auteurs {
	height : 20%;
	bottom: 0px;
	left: 10px;
	position: absolute;
}