*{
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	background-image:url(images/fond.jpg); 
}

.topnav
{
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin: auto;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	display: flex;
    flex-direction: row;
}

@media (max-width:600px) {
    .topnav {
      flex-direction: column; 
	  }
}

.topnav a {
  float: left;
  display: block;
  height: 70px;
  width:240px;
  color: #038893;
  font-family: Cursive;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  line-height:70px;
}
  
 .logotop{
    display: block;
    margin-left: 0%;
    
 } 
 .topnav a:hover {
    background-color: #ADD8E6;
 }
 
 .logotop {
	background-image:url(images/siterobotlogo.png); 
}

.logotop:hover {
	background-image: url("images/siterobotlogo2.png");
}

.navbar {
    margin-top: 10%;
    border: solid transparent;
    width: 8%;
    margin-left: 2%;
    height: 40%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#lien {
  text-decoration: none;
  text-decoration-color:black ;
  text-align: center;
  font-family: cursive;
  background-color: white;
  border: 2px solid;
}

.bordure{
  position: absolute;
  margin-left: 0%;
  width: 75%;
  border-right: solid black ;
  border-left: solid black ;
  height: 1300px;
  background-color: #CFCFCF;
  opacity: 0.88;
}

.mainCard {

    margin-top: 5%;
    margin-left: 15%;
    right: 5px;
    height: 1300px;
    display: flex;
    flex-direction: column
}

.titleCard {
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    height: 5%;
    text-align: center;
    display: flex;
}

.intro{
    width: 80%;
    margin-left: 2%;
    margin-top: 1%;
    height: 5%;
    text-align: center;
    display: flex;
}

.cardDate {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 250px;
    display: flex;
}

.card {
    text-align: left;
    margin-left: 1%;
    width: 84%;
    height:150px ;
}

.date {
    margin-left: 5%;
    height: 25px;
    font-family: cursive;
	background-color: white;
	border: 2px solid;
}

.flecheImg {
    width: 50px;
    height: 50px;
	margin-left: 65%;
}

.text {
	font-size: 20px;
	margin-top: 10px;
}

.bas {
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	position: relative;
	bottom: 0;
}

#imgiut {
	max-height: 100px;
	float: right;
}

.facebook{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.facebooklogo {
	width: 40px;
	height: 40px;
	background-image:url(images/facebook40px.png); 
	display: inline-block;
}

.facebooklogo:hover {
	background-image: url("images/facebook40pxgris.png");
}

.instagram{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.instagramlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/instagram40px.png); 
	display: inline-block;
}

.instagramlogo:hover {
	background-image: url("images/instagram40pxgris.png");
}

.twitter{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.twitterlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/twitter40px.png); 
	display: inline-block;
}

.twitterlogo:hover {
	background-image: url("images/twitter40pxgris.png");
}

.linkin{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.linkinlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/linkin40px.png); 
	display: inline-block;
}

.linkinlogo:hover {
	background-image: url("images/linkin40pxgris.png");
}

.petittrait{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	height: 40px;
	width: 0px;
	margin-left: 6%;
	display:inline-block;
}

.cg
{
	max-width:15%;
	padding-top: 2%;
	padding-left: 6%;
	display:inline-block;
}

.cglogo 
{
	width: 37px;
	height: 37px;
	background-image:url(images/cg40px.png);
	display: inline-block;
}

.cglogo:hover 
{
	background-image: url("images/cg40pxgris.png");
}

.auteurs {
	height : 20%;
	bottom: 0px;
	left: 10px;
	position: absolute;
}

