*{
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	background-image:url(images/fond.jpg); 
}

p {
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}

@media  (max-width:1100px)
{
	.cercle1{
		display: none;
	}
	.cercle2{
		display: none;
	}
	.cercle3{
		display: none;
	}
	.cercle4{
		display: none;
	}
	.div1{
		border-right: solid;
		border-left: solid;
	}
	.div2{
		border-right: solid;
		border-left: solid;
	}
	.div3{
		border-right: solid;
		border-left: solid;
	}
	.div4{
		border-right: solid;
		border-left: solid;
	}
}

.p1 {
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 2px;
}

.topnav
{
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin: auto;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	display: flex;
    flex-direction: row;
}

@media (max-width:600px) {
    .topnav {
      flex-direction: column; 
	  }
}

.topnav a {
  float: left;
  display: block;
  height: 70px;
  width:240px;
  color: #038893;
  font-family: Cursive;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  line-height:70px;
}

.topnav a:hover {
  background-color: #ADD8E6;
}

.logotop {
	background-image:url(images/siterobotlogo.png); 
}

.logotop:hover {
	background-image: url("images/siterobotlogo2.png");
}

.message {
  background-color: #CFCFCF;
  overflow: hidden;
  max-width:1100px;
  margin: auto;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 2%;
}

.question {
	max-width:1100px;
	margin: auto;
	margin-top: 4%;
}

.question1 {
	max-width:1100px;
	margin: auto;
	margin-top: 2%;
}


.cercle3{
	height : 300px;
    width: 100px;  
    border-top-left-radius: 800px; 
    border-bottom-left-radius: 800px; 
	background-color: #CFCFCF;
	margin-left: auto;
	margin-right:auto;
	position:absolute;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.cercle4{
	height : 300px;
    width: 100px;  
    border-top-right-radius: 800px; 
    border-bottom-right-radius: 800px; 
	background-color: #CFCFCF;
	float:right;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.div1{
	background-color: #CFCFCF;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height : 300px;
	margin-top: 2%;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.div2{
	background-color: #CFCFCF;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height : 300px;
	margin-top: 4%;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.cercle1{
	height : 300px;
    width: 100px;  
    border-top-left-radius: 800px; 
    border-bottom-left-radius: 800px; 
	background-color: #CFCFCF;
	margin-left: auto;
	margin-right:auto;
	position: absolute;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.cercle2{
	height : 300px;
    width: 100px;  
    border-top-right-radius: 800px; 
    border-bottom-right-radius: 800px; 
	background-color: #CFCFCF;
	float:right;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.div3{
	background-color: #CFCFCF;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height : 300px;
	margin-top: 4%;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.div4{
	background-color: #CFCFCF;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height : 300px;
	margin-top: 4%;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	opacity: 0.88;
}

.trait
{
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.bas {
	background-color: white;
	overflow: hidden;
	max-width:1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	position: relative;
}

#imgiut {
	max-height: 100px;
	float: right;
}

.facebook{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.facebooklogo {
	width: 40px;
	height: 40px;
	background-image:url(images/facebook40px.png); 
	display: inline-block;
}

.facebooklogo:hover {
	background-image: url("images/facebook40pxgris.png");
}

.instagram{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.instagramlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/instagram40px.png); 
	display: inline-block;
}

.instagramlogo:hover {
	background-image: url("images/instagram40pxgris.png");
}

.twitter{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.twitterlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/twitter40px.png); 
	display: inline-block;
}

.twitterlogo:hover {
	background-image: url("images/twitter40pxgris.png");
}

.linkin{
	max-width:15%;
	padding-top: 2%;
	padding-left: 12%;
	display:inline-block;
}

.linkinlogo {
	width: 40px;
	height: 40px;
	background-image:url(images/linkin40px.png); 
	display: inline-block;
}

.linkinlogo:hover {
	background-image: url("images/linkin40pxgris.png");
}

.petittrait{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	height: 40px;
	width: 0px;
	margin-left: 6%;
	display:inline-block;
}

.cg
{
	max-width:15%;
	padding-top: 2%;
	padding-left: 6%;
	display:inline-block;
}

.cglogo 
{
	width: 37px;
	height: 37px;
	background-image:url(images/cg40px.png);
	display: inline-block;
}

.cglogo:hover 
{
	background-image: url("images/cg40pxgris.png");
}

.auteurs {
	height : 20%;
	bottom: 0px;
	left: 10px;
	position: absolute;
}